@charset "utf-8";

@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@300;400;600&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  /* Font Family */
  --outfit: "Outfit", sans-serif;

  /* ### Primary */

  --Soft-blue: hsl(215, 51%, 70%);
  --Cyan: hsl(178, 100%, 50%);

  /* ### Neutral */

  --main-BG: hsl(217, 54%, 11%);
  --card-BG: hsl(216, 50%, 16%);
  --line: hsl(215, 32%, 27%);
  --White: hsl(0, 0%, 100%);
}

body {
  font-size: 18px;
  font-family: var(--outfit);

  min-height: 100vh;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;

  background-color: var(--main-BG);
}

.card {
  width: 360px;
  padding: 20px;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  background-color: var(--card-BG);
}

.card-description h1 {
  color: var(--White);
  margin: 20px 0;
}

.card-description h1:hover,
.card-creator p:hover {
  color: var(--Cyan);
  cursor: pointer;
}

.card-description p {
  color: var(--Soft-blue);
  line-height: 1.5;
  margin-bottom: 20px;
}

.card-timer {
  display: flex;
  flex-direction: row;
  padding-bottom: 20px;
  margin-bottom: 20px;
  justify-content: space-between;
  border-bottom: 2px solid var(--line);
}


.card-timer p {
  color: var(--Cyan);
}

.card-timer p img,
.card-timer span img {
  padding-right: 10px;
}

.card-timer span {
  color: var(--Soft-blue);
  display: block;
}

.card-creator {
  display: flex;
  align-items: center;
}

.card-creator img {
  width: 50px;
  border-radius: 50%;
  border: 2px solid var(--White);
  margin-right: 20px;
}

.card-creator p {
  color: var(--White);
}

.card-creator span {
  color: var(--Soft-blue);
}

.attribution {
  font-size: 11px;
  text-align: center;
  margin-top: 20px;
  color: var(--White);
}
.attribution a {
  color: var(--Cyan)
}
